<div>
    <h2 translate="celSalesApp.mensajeLog.home.title">Mensaje Logs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="mensaje-log.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="celSalesApp.mensajeLog.home.createLabel">
                        Create new Mensaje Log
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fecha"><span translate="celSalesApp.mensajeLog.fecha">Fecha</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="logException"><span translate="celSalesApp.mensajeLog.logException">Log Exception</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="logExceptionMsg"><span translate="celSalesApp.mensajeLog.logExceptionMsg">Log Exception Msg</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="logPackage"><span translate="celSalesApp.mensajeLog.logPackage">Log Package</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="diagnostico.id"><span translate="celSalesApp.mensajeLog.diagnostico">Diagnostico</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mensajeLog in vm.mensajeLogs track by mensajeLog.id">
                    <td><a ui-sref="mensaje-log-detail({id:mensajeLog.id})">{{mensajeLog.id}}</a></td>
                    <td>{{mensajeLog.fecha}}</td>
                    <td>{{mensajeLog.logException}}</td>
                    <td>{{mensajeLog.logExceptionMsg}}</td>
                    <td>{{mensajeLog.logPackage}}</td>
                    <td>
                        <a ui-sref="diagnostico-detail({id:mensajeLog.diagnostico.id})">{{mensajeLog.diagnostico.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="mensaje-log-detail({id:mensajeLog.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="mensaje-log.edit({id:mensajeLog.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="mensaje-log.delete({id:mensajeLog.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
