
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTelefonoLabel" translate="celSalesApp.telefono.home.createOrEditLabel">Create or edit a Telefono</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.telefono.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.telefono.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="celSalesApp.telefono.marca" for="field_marca">Marca</label>
            <input type="text" class="form-control" name="marca" id="field_marca"
                    ng-model="vm.telefono.marca"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="celSalesApp.telefono.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                    ng-model="vm.telefono.nombre"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="celSalesApp.telefono.modelo" for="field_modelo">Modelo</label>
            <input type="text" class="form-control" name="modelo" id="field_modelo"
                    ng-model="vm.telefono.modelo"
                     />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImagen($file, vm.telefono)" ngf-pattern="'image/*'">
            <label class="control-label" translate="celSalesApp.telefono.imagen" for="field_imagen">Imagen</label>
            <div>
                <img data-ng-src="{{'data:' + vm.telefono.imagenContentType + ';base64,' + vm.telefono.imagen}}" style="max-height: 100px;" ng-if="vm.telefono.imagen"/>
                <div ng-if="vm.telefono.imagen" class="help-block clearfix">
                    <span class="pull-left">{{vm.telefono.imagenContentType}}, {{vm.byteSize(vm.telefono.imagen)}}</span>
                    <button ng-click="vm.telefono.imagen=null;vm.telefono.imagenContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImagen($file, vm.telefono)" accept="image/*" translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="imagen" id="field_imagen"
                    ng-model="vm.telefono.imagen"
                     />
            <input type="hidden" class="form-control" name="imagenContentType" id="field_imagenContentType"
                    ng-model="vm.telefono.imagenContentType" />
        </div>

        <div class="form-group">
            <label translate="celSalesApp.telefono.fabricante" for="field_fabricante">Fabricante</label>
            <select class="form-control" id="field_fabricante" name="fabricante" ng-model="vm.telefono.fabricanteId" ng-options="fabricante.id as fabricante.id for fabricante in vm.fabricantes"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
