/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Developement Ribbon
========================================================================== */
.ribbon {
    background-color: #a00;
    box-shadow: 0 0 10px #888;
    left: -3.5em;
    moz-box-shadow: 0 0 10px #888;
    moz-transform: rotate(-45deg);
    ms-transform: rotate(-45deg);
    o-transform: rotate(-45deg);
    overflow: hidden;
    position: absolute;
    top: 40px;
    transform: rotate(-45deg);
    webkit-box-shadow: 0 0 10px #888;
    webkit-transform: rotate(-45deg);
    white-space: nowrap;
    width: 15em;
    z-index: 9999;
    pointer-events: none;
}

.ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 16px;
    color: #fff
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
}

/* ==========================================================================
Main page styles
========================================================================== */
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

/* ==========================================================================
Generic styles
========================================================================== */
.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.break {
    white-space: normal;
    word-break:break-all;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.readonly {
    background-color: #eee;
    opacity: 1;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
  cursor: pointer;
}

.hand {
    cursor: pointer;
}

/* ==========================================================================
Metrics and Health styles
========================================================================== */
#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding { padding: 0 !important; }

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.jh-table > tbody > tr > td {
    /* Align text in td verifically (top aligned by Bootstrap) */
    vertical-align: middle;
}

.jh-table > thead > tr > th > .glyphicon-sort, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt {
    /* less visible sorting icons */
    opacity: 0.5;
}

.jh-table > thead > tr > th > .glyphicon-sort:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt:hover {
    /* full visible sorting icons and pointer when mouse is over them */
    opacity: 1;
    cursor: pointer;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.dl-horizontal.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .dl-horizontal.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .dl-horizontal.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus {
    outline: none;
}



/* KIIBAL SIDE CODE */
/*.navbar-default .navbar-nav > .active > a {
    background-color: #e7e7e7;
}*/

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    /* color: #555; */
    background-color: #fff !important;
}
div.app-container{
  padding-left: 66px;
}
.panel-default > .panel-heading {
    color: #989898;
    background-color: transparent;
    border: 0px transparent;
}
hr {
    margin-top: 5px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #eee;
}
#wrapper {
    /*padding-left: 0;*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 229px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #26282F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    padding-left: 130px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    /*margin-right: -250px;*/
}

/* Sidebar Styles */
span.sidebar {
  color: white;
  padding-right: 8px;
  padding-left: 0px;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 205px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    border-top: 1px solid #3c3c3c;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #cacaca;
  font-weight: bold;
  padding-left: 0px;
  margin: 0;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

@media(min-width:768px) {
    /*#wrapper {
        padding-left: 250px;
    }*/

    /*#wrapper.toggled {
        padding-left: 0;
    }*/

    /*#page-content-wrapper {
      padding-left: 0;
    }*/

    #sidebar-wrapper {
      width: 212px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        background-color: #F0F3F4;
        /*padding: 20px;*/
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    .panel-title{
      font-size: 13px;
    }
}

      body{
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 12px;
        color: #98a6ad;
        padding-bottom: 40px;
        padding-top: 50px;
        background-color: #F0F3F4;
      }

      h1{
        font-size: 20px;
        padding:10px;
      }
      
      .table{
        margin-bottom: 0
      }
      td{
        border:none !important;
      }
      div.col-md-4.informacion-liberacion .panel-default{
        box-shadow: 0px 0px 6px #d6d6d6;
        min-height: 284px;
      }
      td.estado-operacion{
        background-color: #3AB54A;
        color: white;
        text-align: center;
        vertical-align: middle !important;
      }
      td.no-operacion {
        background-color: #607D8B;
        color: #CFD8DD;
        font-size: 25px;
        text-align: center;
        vertical-align: middle !important;
      }
      td.nombre-parametro{
        font-weight: bold;
        text-align: right;
      }
      td.acciones {
        font-size: 26px;
        text-align: left;
      }
      td.valor-parametro{
        text-align: left;
      }
      .buscador-liberaciones{
        margin-bottom: 16px;
      }
      .informacion-liberacion{
        padding-top: 10px;
      }
      .informacion-liberacion>table{
        min-height: 220px;
      }
      span.download-speed{
        font-size: 20px;
        font-weight: bolder;
      }
      body {
        padding-bottom: 40px;
        padding-top: 50px;
        background-color: #F0F3F4;
      }
      .navbar{
        /*background-color: #FFF;*/
        background-color: #063877;
        border:none;
        box-shadow: 0 2px 2px rgba(0,0,0,0.05),0 1px 0 rgba(0,0,0,0.05);
      }
      .navbar a{
        color: #CFD8DD;
      }
      .navbar-brand{
        padding: 0;
        margin: 0;
      }

      /* INDICADOR DE BATERIA */
      .bateria {
        display: inline-block;
        width: 4.5em;
        height: 10em;
        border: 1px solid white;
        border-width: .5em 1em;
        box-shadow: 0 0 0 5px #9a9a9a;
        margin: 44px 0px 4px;
        position: relative;
        background-color: #529219;
        border-radius: 6px;
        background-image: linear-gradient(180deg,
          white .5em,
          white .5em,
          transparent .5em,
          transparent 2em,
          white 2em,
          white 3em,
          transparent 3em,
          transparent 4.5em,
          white 4.5em,
          white 5.5em,
          transparent 5.5em,
          transparent 7em,
          white 7em,
          white 8em,
          transparent 8em,
          transparent 9.5em,
          white 9.5em
        );
        background-size: 100%;
      }
      .bateria:before {
          position: absolute;
          top: -26px;
          left: 1px;
          display: block;
          background: #9a9a9a;
          width: 52px;
          height: 12px;
          content: "";
          border-radius: 6px 6px 0 0;
      }
      .bateria:after {
        position: absolute;
        top: 0em;
        left: 0em;
        display: block;
        background: white;
        width: 65px;
        height: 0;
        content: "";
      }
      .bateria.nivel-75:after {
          height: 2em;
      }
      .bateria.nivel-50:after {
          height: 4.5em;
      }
      .bateria.nivel-25:after {
          height: 7em;
      }
      .bateria.nivel-25 {
          background-color: red;
      }
      .bateria.nivel-0:after {
          height: 9.5em;
      }
      /* LSITADO DE APPS */
      ul.apps-instaladas>li>img{
        height: 34px;
        width: 34px;
      }
      ul.apps-instaladas{
        padding: 0;
      }
      ul.apps-instaladas>li {
        list-style: none;
        padding: 2px;
      }

/* VISTA DE CHAT */
/* VISTA DE CHAT */
/* VISTA DE CHAT */
  .chat {
    list-style: outside none none;
    margin: 0;
    padding: 0;
  }

  .chat li.left .chat-body {
    margin-left: 60px;
  }
  .chat li .chat-body p {
    color: #777777;
    margin: 0;
  }
  .chat li.right .chat-body {
    margin-right: 60px;
  }

  li.otra-fecha{
    background-color: #e6e6e6;
    margin: 20px 0px;
    padding: 5px;
    text-align: center;
    color: #867e7e;
  }
  ul.historico-conversaciones{
    padding: 0;
    margin: 0
  }
  ul.historico-conversaciones>li {
    list-style: none;
    padding: 19px;
    background-color: darkgrey;
    color: white;
  }
  ul.usuarios{
    padding: 0
  }
  ul.usuarios > li {
    background-color: #e2e2e2;
    list-style: outside none none;
    margin-top: 1px;
    padding: 12px;
  }
  ul.usuarios>li>img{
    border-radius: 40px;
  }

/* VISTA DE CHAT */


/* VISTA DE TIMELINE */
  .timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
  }

  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    /*left: 50%;*/
    left: 5%;
    margin-left: -1.5px;
  }

  .timeline > li {
    margin-bottom: 20px;
    position: relative;
  }

  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }

  .timeline > li:after {
    clear: both;
  }

  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }

  .timeline > li:after {
    clear: both;
  }

  .timeline > li > .timeline-panel {
    /*width: 46%;*/
    width: 85%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    margin-right: 5%;
  }

  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }

  .timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }

  .timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    /*left: 50%;*/
    left: 5%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  .timeline > li.timeline-inverted > .timeline-panel {
    background-color: white;
    float: right;
  }

  .timeline > li.timeline-inverted > .timeline-panel:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto;
  }

  .timeline > li.timeline-inverted > .timeline-panel:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto;
  }

  .timeline-badge.primary {
      background-color: #2e6da4 !important;
  }

  .timeline-badge.success {
      background-color: #3f903f !important;
  }

  .timeline-badge.warning {
      background-color: #f0ad4e !important;
  }

  .timeline-badge.danger {
      background-color: #d9534f !important;
  }

  .timeline-badge.info {
      background-color: #5bc0de !important;
  }

  .timeline-title {
      margin-top: 0;
      color: inherit;
  }

  .timeline-body > p,
  .timeline-body > ul {
      margin-bottom: 0;
  }

      .timeline-body > p + p {
          margin-top: 5px;
      }

  @media (max-width: 767px) {
      #page-content-wrapper {
        padding-left: 0;
      }
      div.app-container{
        padding: 0;
      }
      ul.timeline:before {
          left: 40px;
      }

      ul.timeline > li > .timeline-panel {
          width: calc(100% - 90px);
          width: -moz-calc(100% - 90px);
          width: -webkit-calc(100% - 90px);
      }

      ul.timeline > li > .timeline-badge {
          left: 15px;
          margin-left: 0;
          top: 16px;
      }

      ul.timeline > li > .timeline-panel {
          float: right;
      }

      ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
      }

      ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
      }
  }
/* VISTA DE TIMELINE */

/*DETALLE DIAGNOSTICO*/
.widget-bateria.panel-body {
    padding: 15px;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 380px;
    min-height: 385px;
}

.widget-info-diagnostico.panel-body {
    /*overflow: hidden;
    overflow-y: scroll;
    max-height: 553px;
    min-height: 550px;*/
}
.panel-body.bluetooth, .panel-body.wifi, .panel-body.carrier{
  min-height: 132px;
}
.panel-body.bluetooth img, .panel-body.wifi img {
  height:  74px;
}
.no-operacion {
  background-color: #607D8B;
  color: #CFD8DD;
  font-size: 20px;
  text-align: center;
  vertical-align: middle !important;
}
ul.apps-instaladas>li{
  border-top:1px solid #e2e2e2;
  border-right:1px solid #e2e2e2;
  border-bottom:1px solid #e2e2e2;
  border-left: 3px solid #DB5100;
  margin-bottom: 5px;
}

table.table.info-diagnostico td{
  padding: 2px;
  /*background-color: red;*/
}
/*BATERIA*/
@media(min-width:768px) {
  .no-operacion {
    background-color: #3f4b6b;
    color: white;
    font-size: 20px;
    text-align: center;
    vertical-align: middle !important
  }
  .bateria {
    width: 3.5em;
    height: 152px;
    border: 1px solid #ffffff;
    border-width: 9px 1em;
    box-shadow: 0 0 0 5px white;
    margin: 95px 0px 40px;
    background-color: #a7c1a1;
  }
  .bateria:before {
    position: absolute;
    top: -25px;
    left: -7px;
    display: block;
    background: white;
    width: 45px;
    height: 12px;
    content: "";
    border-radius: 6px 6px 0 0;
  }
  .bateria.nivel-50:after {
    height: 69px;
  }
  .bateria:after {
    width: 30px;
  }


}
/*.informacion-liberacion .panel-heading{
  background-color: red;
}*/
/*DETALLE DIAGNOSTICO*/